{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block content %}

<span class="profileimage"><img alt="{{profile.name}}" src="{{profile.picture.url}}"></span> 
<h1> {{profile.name}} </h1> 


<h2>Traits:</h2> 

{% if profile.traits %}
<ul>
    {% for trait in profile.traits %}
    <li>{{ trait.name }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No traits are available.</p>
{% endif %}

<div id="chartme"></div>
<div id="visualization" style="width: 450px; height: 300px;"></div>

<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task');
        data.addColumn('number', 'Hours per Day');
        data.addRows({{size}});
        var i = 0;
        {% for trait in profile.traits %}
        data.setValue(i, 0, '{{trait.name}}');
        data.setValue(i++, 1, {{trait.count}});
        {% endfor %}

        var chart = new google.visualization.PieChart(document.getElementById('chartme'));
        chart.draw(data, {width: 450, height: 300, title: 'BenchRank', backgroundColor:'#FFFFFF'});
    }

google.load('visualization', '1', {packages: ['gauge']});
google.setOnLoadCallback(drawVisualization);
function drawVisualization() {
    // Create and populate the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Value');
    data.addRows(25);
    var i = 0;
    {% for trait in profile.traits %}
    data.setValue(i, 0, '{{trait.name}}');
    data.setValue(i++, 1, parseInt({{trait.count}}) * 10);
    {% endfor %}

    // Create and draw the visualization.
    new google.visualization.Gauge(document.getElementById('visualization')).
        draw(data);
}


</script>

{% endblock %}

