<style>

    #join {
        margin: 0;
        text-align: center;
    }

    #join input, #join textarea {
        padding: 5px;
        width: 450px;
        font-size: 1.3em;
        margin: 0px 0px 10px 0px;
        border: 2px solid #CCC;
    }

    #join input.submit {
        width: 465px;
    }

    .errorlist {
        color: red;
    }

    label {
        float: left;
        text-align: right;
        margin-right: 15px;
        width: 100px;
        padding-top: 5px;
        font-size: 1.4em;
    }
</style>

<div id="join">

    <form name="signup" id="signup" action="/signup/" method="POST"> 
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.email.errors }}
            <label for="id_subject">Email:</label>
            {{ form.email }}
        </div>
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.password.errors }}
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <div class="fieldWrapper">
            {{ form.password2.errors }}
            <label for="id_password2">Re-enter password:</label>
            {{ form.password2 }}
        </div>
        <p><input type="submit" value="Sign Up!" class="submit"/></p>
    </form>
</div>
