<a href="{% url pages %}">Pages</a> |
<a href="{% url create_page %}">Create a Page</a> |
<a href="{% url page page.id %}"><img src="/images/buttons/view.png" height="15px">View</a> |
<a href="{% url page page.id %}"><img src="/images/buttons/info.png" height="15px">Info</a> |
<a href="{% url page page.id %}"><img src="/images/buttons/cats.png" height="15px">Categorize</a> |
<a href="{% url page page.id %}"><img src="/images/buttons/files.png" height="15px">Files</a> |
<a href="{% url edit_page page.id %}"><img src="/images/buttons/settings.png" height="15px">HTML</a>
