{% extends 'pages/base.html' %}


{% block scripts %}

<script src="/media/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/ace/theme-idle_fingers.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}

{% block content %}



<style>
    #editor {
        width: 960px;
        height: 800px;
    }
    #content {
        height: 840px;
    }
</style>

<form id="page-form" method="POST" action="{% url edit_page page.id %}">
    {% csrf_token %}
    <input type="hidden" value="{{page.id}}">
    <input type="submit" value="submit">
</form>
<div id="editor">{{page.content}}</div>


<script>

    window.onload = function() {

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/idle_fingers");

        var HTMLMode = require("ace/mode/html").Mode;
        editor.getSession().setMode(new HTMLMode());
//        editor.getSession().removeCommand('gotoline');


        $('#page-form').submit(function() {
            
            data = {
                'csrfmiddlewaretoken':$('input[name^=csrf]').val(),
                'page':{{page.id}},
                'content':editor.getSession().getValue()
            };

            $.post(
                '{% url ajax_edit_page %}',
                data,
                function (data) { },
                'json'
            );

            return false;

        });


    };

</script>


{% endblock %}
